html{
    background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 1, 0.336)100%), url("../img/lab-background.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 auto;
}
header,body,footer{
    background:none;
}